apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: proyectom
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: product-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3002
          env:
            - name: MONGO_URL
              value: "mongodb://mongo-products:27017/products"
