apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: proyectom
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: alexis246/proyectom-order-service:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 3003
          env:
            - name: MONGO_URL
              value: "mongodb://mongo-orders:27017/orders"
            - name: USER_SERVICE_URL
              value: "http://user-service:3001"
            - name: PRODUCT_SERVICE_URL
              value: "http://product-service:3002"

